.card{
	margin-bottom: 20%;
	margin-top: 20%;
	padding-right: 10px;
	padding-left: 10px;
	height: 60%;
	width: 40%;
	background-color: rgba(235,247,245,0.5);
}

#some{
margin-top:10px;
}

body{
	background: url("https://cdn.pixabay.com/photo/2015/05/17/05/34/window-770535_1280.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
}